h1 {
    background-color: red;
    color: white;
}

#input-area {
    margin-top: 20px;
    width: 80%;
    min-height: 400px;
}

#ausgabeText {
    padding: 20px 20px;
    width: 60%;
    min-height: 100px;
    line-height: 2em;
    background-color: lightgray;
}

@keyframes highlightWord {
    0% {
      color: rgba(30, 86, 176, 1.0);
      font-size: 200%;
      font-style: bold;
    }
    50% {
      color: rgba(76, 128, 212, 0.75);
      font-size: 200%;
      font-weight: bold;
    }
    100% {
      color: rgba(30, 86, 176, 1.0);
      font-size: 200%;
      font-weight: bold;
    }
  }
  
  .highlight {
    animation: highlightWord 4s step-start;;
  
  }
  .paused {
    animation-play-state: paused;
  }