<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">

    <title>Lern lesen</title>
</head>
<body>
    <h1>Start</h1>
    <div id="main">
        <button id="generate" onclick="window.location.href='/generate'">Generate</button>
        <button id="own" onclick="window.location.href='/own'">Own</button>
    </div>
    
</body>
</html>